@media only screen and (max-width: 600px){

    #login_boxs{
    flex-direction: column;

}
#login_left{
    border-top-left-radius:1em ;
    border-top-right-radius: 1em;
    width: 90vw;
    height: 30vh;
    
}
#login{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 90vw;
    height: 70vh;
}
    
}
@media only screen and (min-width: 600px){
#login_boxs{
    flex-direction: row;
    
}
#login_left{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 15vw;
    height: 55vh;
}
#login{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 30vw;
    height: 55vh;
    color: aliceblue;
    background-color: rgb(41, 142, 230);
}

}
*{
    box-sizing: border-box;
    padding: 0;
}
body{

    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right, #0e3774, #004366, #00464a, #2b4439, #40423c);
   
}
#login_boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    width: auto;
    height: auto;
}
.login_title{
    color: rgb(254, 253, 254);
    font-size: 1.9em;
    padding-top: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#login_left{
    background-color: rgb(94, 212, 173);
    display: flex;
    color: aliceblue;
    flex-direction: column;

}
button{
    width: 6rem;
    height: 3rem;}

#login{
    padding-top: 14vh;
    color: aliceblue;
    background-color: rgb(41, 142, 230);
}
.form-control{
    display:inline-block ;
    width: 10em;
    
}

#footer{
    
    margin-bottom: 0;
    text-align: center;
    margin-top: 23%;
    padding: 2vw;
    background-color: #40423c;
}